*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 16px;
}

body{
    background-color: #cd2121;
}

main{
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}